.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2rem 8rem 2rem 8rem;
  height: 36rem;

  h1 {
    color: #364f6b;
    letter-spacing: 1.5px;
  }

  .input {
    margin: 1.2rem;
    width: 19rem;
  }

  .submitButton {
    margin-top: 2rem;
    background-color: #fc5185;
    font-weight: 500;
  }

  .errorWrapper {
    animation: moveInFromRight linear 0.2s;
    background-color: #ff5e5e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-bottom: 1rem;
  }
}

.dateTime {
  width: 9rem;
  position: relative;
  left: 0.2rem;
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.captchaWrapper {
  margin-top: 1rem;
}
